<!doctype html>
<html lang="en">
<head>
    {% include header.html %}
    <link href="{{ site.baseurl }}/assets/css/blog.css" rel="stylesheet">
</head>
<body>
{% include navbar-dev.html %}


<div role="main" class="container main-content blog-post">
  <div class="row">
    <div class="col">
      <div class="post">
        <header class="blog-post-header">
          <h1 class="page-title">{{ page.title }}</h1>
          <div class="blog-post-info">
            <span class="blog-post-author">Author: {{ page.author }}</span>
            <div>
              <span class="blog-post-date">Publication Date: {{ page.date | date: "%B %-d, %Y" }}</span>
            </div>
            <div>
              <span class="blog-post-categories">
                Category: {{ page.categories }}
              </span>
            </div>
          </div>
        </header>
        <article class="blog-post-content">
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
{% include scripts.html %}
</body>
</html>
