<!doctype html>
<html lang="en">
<head>
  {% include header.html %}
  <link href="{{ site.baseurl }}/assets/css/news.css" rel="stylesheet">
</head>
<body>
{% include navbar-dev.html %}

{{ content }}

{% include footer.html %}
{% include scripts.html %}
</body>
</html>
